
h1{
  font-family: Lucida Console;
  color:  yellow;
}

title{
  font-family: Courier New;
  color:  yellow;
  font-size =30;
}


p{
 font-family:  Lucida Console;
 color:  yellow;
  font-size =20;
}

body {
    background-image: url("http://mapinstitute.org/data/wallpapers/132/im57827792.jpg")
}
